<div class="container">
    <div *ngIf="errorMessage" class="alert alert-dismissible fade show overlay" role="alert">
        {{ errorMessage }}
      </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 textarea-container">
        <textarea [(ngModel)]="inputText" class="form-control" rows="7" placeholder="Input text"></textarea>
      </div>
      <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
        <button (click)="onSubmit()" class="btn btn-primary">Summarize</button>
      </div>
      <div class="col-md-4 col-sm-12 textarea-container">
        <textarea [value]="summary" class="form-control" rows="7" placeholder="Summary" readonly></textarea>
      </div>
    </div>
  </div>
  